body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #727272;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

p {
    /* margin-top: 0;
    margin-bottom: 20px; */
    margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    line-height: 1.15;
    font-weight: 500;
    margin-top: 0;
}

h1 {
font-size: 35px;
}

h2 {
font-size: 28px;
}

ul,
ol {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.header {
    background: #eeeff1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header-wrap {
    display: flex;
    align-items: center;
    padding-top: 57px;
}

.logo {
    display: inline-block;
    max-width: 96px;
    max-height: 60px;
    margin-right: 15px;
}

.logo img {
    vertical-align: middle;
    min-width: 96px;
    min-height: 60px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

/* BURGER */

.burger-checkbox {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -9999999px;
}

.burger {
    position: relative;
    width: 26px;
    height: 18px;
}

.burger::before,
.burger span,
.burger:after {
    position: absolute;
    right: 0;
    left: 0;
    background: #000;
    height: 2px;
}

.burger:before {
    content: "";
    top: 0;
}

.burger span {
    top: 8px;
}

.burger:after {
    content: "";
    bottom: 0;
}

.burger-checkbox:checked + .burger span {
    opacity: 0;
}

.burger-checkbox:checked + .burger::before {
    transition: transform 0.3s ease-in;
    transform: rotate(45deg);
    top: 8px;
}

.burger-checkbox:checked + .burger::after {
    transition: transform 0.3s ease-in;
    transform: rotate(-45deg);
    bottom: 8px;
}

.burger-checkbox:checked ~ .header-list {
    transition: opacity .3s ease-in;
    opacity: 1;
    visibility: visible;
    z-index: 1;
}


.header-list {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    text-align: center;
    background: #eeeff1;
    opacity: 0;
    visibility: hidden;
}

.header-item {
    padding-bottom: 15px;
}

.header-item a {
    color: black;
    text-decoration: none;
    margin-left: 42px;
    transition: transform 0.3s ease-in;
}

.header-item a:hover {
    opacity: 0.8;
    color: #34547A;
}

/* section banner */

.btn {
    display: inline-block;
    border: 1px solid #34547A;
    background: #34547A;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 25px;
    line-height: 1;
    text-decoration: none;
}

.btn:hover {
    transition: opacity 0.3s ease-in;
    opacity: 0.7;
    cursor: pointer;
}

.container {
    max-width: 1180px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-banner {
    background: #eeeff1;
    padding: 170px 0 50px;
    width: 100%;
}

.banner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 -65px;
}

.col {
    padding: 0 65px;
    width: 50%;
}


.col--img {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    width: 100%;
}

.col--description {
    width: 100%;
    text-align: center;
}

.section-banner .title {
    margin-bottom: 60px;
    text-align: center;
}

.section-banner .holder {
    padding-bottom: 40px;
}

.section-about-me {
    padding-bottom: 50px;
    padding-top: 50px;
}

.about-me-header {
    text-align: center;
    
}

.about-me-text {
    max-width: 540px;
    text-align: center;
    margin: 0 auto 0;
}

/* section project */

.section-projects {
    background-color: #34547A;
    padding: 50px 0;
}

.projects-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -7px;
}

.project-col {
    display: flex;
    padding: 0 7px 14px;
}

.project-image {
    padding-right: 20px;
}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: calc(100% - 70px);
    color: #fff;
}

.project-description p {
    margin: 0;
    text-align: left;
    /* margin-top: 0px; */
    /* width: 71px;
    height: 15px; */
}

.project-description p:first-child {
    font-size: 21px;
    font-weight: 500;
    margin-top: 0px;
    vertical-align: top;
    /* width: 36px;
    height: 19px; */
}

.section-skill {
    padding: 50px 0;
}

.skill-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.skill-col {
    width: 100%;
}

.skill-descr {
  padding-right: 20px;
}

.skill-descr h2 {
    text-align: center;
}

.skill-img {
    background: url(image/men_photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 70%;
}

.skill-descr .title {
    margin-bottom: 50px;
}

.skill-box {
    min-width: 100%;
}

.skill-this {
    margin-bottom: 30px;
}

.skill-label {
    display: block;
    margin-bottom: 20px;
}

.skill-loader {
    background: #c4c4c4;
    height: 4px;
    position: relative;

}

.skill-load {
    background: #34547A;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

/* video */

.section-video {
    background-color: #EEEFF1;
    padding: 50px 0 0 0;
}

.video-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-video {
    text-align: center;
}

.video-text {
    width: 540px;
    height: 67px;
    text-align: center;
    position: relative;
}

.video-text p {
    margin: 0;
    width: 540px;
    height: 67px;
    text-align: center;
}

.video-img {
  position: relative;
}

.video-play {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

/* gallery */

.section-gallery {
    padding-top: 28px;
}

.section-gallery .row {
    display: flex;
    flex-wrap: wrap;
}

.section-gallery .col {
    width: 50%;
    padding-top: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.row a:nth-child(1) {
    order: 1;
}

.row a:nth-child(2) {
    order: 2;
}

.row a:nth-child(3) {
    order: 4;
}

.row a:nth-child(4) {
    order: 3;
}

.row a:nth-child(5) {
    order: 6;
}

.row a:nth-child(6) {
    order: 5;
}

.row a:nth-child(7) {
    order: 7;
}

.row a:nth-child(8) {
    order: 8;
}



.section-gallery .col:hover::before,
.section-gallery .col:hover::after {
    transition: opacity 0.3s ease-in;
    opacity: 1;
    visibility: visible;
}


.section-gallery .col::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(52, 84, 122, 0.8);
    opacity: 0;
    visibility: hidden;
}

.section-gallery .col::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(image/oko.svg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 58px;
    opacity: 0;
    visibility: hidden;
}

/* Microsoft */

.section-microsoft {
    padding: 50px 0;
}

.microsoft-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: -30px;
}

.microsoft-img {
    margin-left: 30px;
}

/* Form section */

.section-form {
    background: #EEEFF1;
    display: block;
    padding: 50px 0;
}

.form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .form-header {
    text-align: center;
    padding-bottom: 34px;
}

.form-text{
    width: 540px;
    height: 67px;
    text-align: center;
} */

.form input {
    width: 255px;
    height: 50px;
    border: none;
    padding: 17px 20px 18px 20px;
    outline: 0;
}

.form input [placeholder] {
    font-size: 50px;
}

.form input::placeholder,
.form textarea::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;
}

.form-contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 45px;
}

.form-message {
    max-width: 540px;
    height: 175px;
    border: none;
    padding: 17px 20px 0 20px;
    resize: none;
    border: none;
    margin-bottom: 50px;
    outline: 0;
}

.form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-form .btn {
    padding: 15px 30px;
}

/* Footer */

.footer {
    background: #34547A;
}

.footer-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: #fff;
    padding: 50px 0 30px 0;

}

.footer-contacts p {
    margin: 0;
    padding-bottom: 20px;
    line-height: 1;
    font-size: 13px;
}

.footer-contacts p:first-child {
    font-size: 21px;
}

.social-networks {
    display: flex;
    align-items: center;
}

.social-networks a {
    padding-right: 22px;
}

@media (min-width: 576px) {
    .section-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    h1 {
            font-size: 48px;
        }
    
        h2 {
            font-size: 32px;
        }
    
    .burger {
        display: none;
    }

    
    .header-list {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        visibility: visible;
    }

    .header-item {
        padding-bottom: 0px;
    } 

    .btn {
        padding: 23px 50px;
    }
    .col {
        padding: 0 65px;
        width: 50%;
    }
    
    .col--img {
        justify-content: flex-end;
    }

    .col--description p {
        text-align: left;
    }

    .section-banner {
        background: #eeeff1;
        padding: 257px 0 146px;
        width: 100%;
    }

    .banner-wrap {
        display: flex;
        align-items: center;
        margin: 0 -65px;
        flex-direction: row;
    }

    .section-about-me {
        padding-bottom: 100px;
        padding-top: 119px;
    }
    
    .section-projects {
        padding: 100px 0;
    }

    .project-description {
        width: calc(100% - 70px);
   }

    .section-skill {
        padding: 100px 0;
    }

    .skill-col {
        width: 50%;
    }

    .skill-descr h2 {
        text-align: left;
    }

    .skill-box {
        min-width: 445px;
    }

    .skill-img {
        padding-top: 34.6%;
    }

    .video-img {
        margin: 57px 35px 100px 35px;
    }

    .section-microsoft {
        padding-top: 72px;
        padding-bottom: 100px;
    }

    .section-video {
        padding: 100px 0 0 0;
    }

    .section-form {
        padding: 100px 0 100px 0;
    }

    .section-form .btn {
        padding: 18.5px 48px;
    }

    .section-gallery .col {
        width: 25%;
        padding-top: 25%;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .row a:nth-child(1) {
        order: 1;
    }

    .row a:nth-child(2) {
        order: 1;
    }

    .row a:nth-child(3) {
        order: 1;
    }

    .row a:nth-child(4) {
        order: 1;
    }

    .row a:nth-child(5) {
        order: 1;
    }

    .row a:nth-child(6) {
        order: 1;
    }

    .row a:nth-child(7) {
        order: 1;
    }

    .row a:nth-child(8) {
        order: 1;
    }

} 



@media (min-width: 768px) {
    

}

@media (max-width: 575px) {
    .form-wrap {
        width: 100%;
    }

    .form input {
        width: 100%;
        margin-bottom: 10px;
    }


}   

@media (max-width: 430px) {

    .social-networks a {
        padding: 0 22px 20px 0;
    }

    .social-networks {
        margin-right: -22px;
    }

    .footer-contacts p {
        text-align: center;
    }

    .footer-wrap {
        justify-content: center;
    }

    .footer-contacts {
        justify-content: center;
    }
}