body {
    background-color: green;
    box-sizing: border-box;
    height: 670px;
       }

.bg-box {
       background-image: 
        url(../image/house.jpg),
        url(../image/lamp.png),
        url(../image/donat.png),
        url(../image/grass.png),
        url(../image/hedgehog.webp);
        background-position: center, top, right, bottom, left;
        background-repeat: no-repeat, repeat-x, repeat-y, repeat-x, repeat-y;
        background-size: 596px 380px, 60px 85px, 40px 40px, 350px 280px, 30px 30px;
        height: 100%;
        }


